.landing__banner {
    height: 90vh;
    // border: 1px solid green;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (max-width: 480px) {
        height: 100vh;
    }
    @media screen and (width: 768px) {
        height: 50vh;
    }
    @media screen and (width: 1024px) {
        height: 50vh;
    }
    .landing__intro {
        // border: 1px solid red;
        height: 100%;
        display: flex;
        // overflow: hidden;
        .landing__inner {
            margin: auto;
            width: 100%;
            // border: 1px solid #fff;
            display: flex;
            @media screen and (max-width: 480px) {
                flex-wrap: wrap;
            }
            .landing__text {
                width: 50vw;
                // border: 1px solid blue;
                color: #fff;
                display: flex;
                flex-direction: column;
                text-align: right;
                height: 400px;
                @media screen and (max-width: 480px) {
                    margin-top: 80px;
                    width: 100%;
                    height: 50vh;
                }
                .intro__header {
                    // border: 1px solid yellow;
                    display: flex;
                    @media screen and (max-width: 480px) {
                        display: block;
                    }
                    @media screen and (max-width: 800px) {
                        align-items: center;
                    }
                    h1 {
                        line-height: 1;
                        font-size: 70px;
                        margin: auto;
                        @media screen and (max-width: 480px) {
                            font-size: 50px;
                            text-align: left;
                        }
                        @media screen and (max-width: 768px) {
                            font-size: 50px;
                        }
                    }
                }
                .intro__description {
                    // border: 1px solid red;
                    // display: inline-block;
                    width: 60%;
                    margin: auto;
                    @media screen and (max-width: 480px) {
                        width: 100%;
                    }
                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }
                    @media screen and (max-width: 1024px) {
                        width: 100%;
                    }
                    p {
                        padding: 0.5rem;
                        line-height: 1;
                        text-align: justify;
                    }
                }
                .download__app {
                    // border: 1px solid purple;
                    width: 60%;
                    display: flex;
                    justify-content: space-between;
                    margin: auto;
                    @media screen and (max-width: 480px) {
                        width: 100%;
                    }
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }
                    @media screen and (max-width: 1024px) {
                        width: 100%;
                    }
                    .app__box {
                        width: 350px;
                        // border: 1px solid #fff;
                        height: 70px;
                        cursor: pointer;
                        @media screen and (max-width: 480px) {
                            width: 200px;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .landing__img {
                width: 50vw;
                // border: 1px solid blue;
                @media screen and (max-width: 480px) {
                    width: 100vw;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}