.footer__start {
    background-color: #d3e8f8;
    height: auto;
    border: 1px solid #d3e8f8;
    .footer__top {
        width: 80%;
        // border: 1px solid black;
        height: auto;
        margin: 50px auto;
        color: #021539;
        display: flex;
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 468px) {
            width: 90%;
        }
        .update {
            width: 100%;
            // border: 1px solid green;
            height: 100px;
            font-weight: bold;
            @media screen and (max-width: 468px) {
                height: auto;
            }
            h1 {
                @media screen and (max-width: 468px) {
                    font-size: 25px;
                }
            }
        }
        .update__form {
            width: 100%;
            // border: 1px solid red;
            @media screen and (max-width: 468px) {
                display: flex;
            }
            form {
                margin: 20px auto;
                // border: 1px solid blue;
                @media screen and (max-width: 468px) {
                    width: 100%;
                }
                input {
                    background-color: #fff;
                    outline: none;
                    padding: 10px;
                    border: none;
                    width: 70%;
                    @media screen and (max-width: 468px) {
                        width: 80%;
                    }
                }
                button {
                    border-radius: 3px;
                    cursor: pointer;
                    color: #fff;
                    padding: 10px;
                    border: none;
                    background: #39A2F7;
                    background: -webkit-linear-gradient(top, #39A2F7, #A975FF);
                    background: -moz-linear-gradient(top, #39A2F7, #A975FF);
                    background: linear-gradient(to bottom, #39A2F7, #A975FF);
                }
            }
        }
    }
    .footer__bottom {
        // border: 1px solid green;
        height: auto;
        width: 80%;
        margin: auto;
        display: flex;
        @media screen and (max-width: 468px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
        }
        h3 {
            font-weight: bold;
        }
        .info {
            // border: 1px solid red;
            width: 100%;
            height: 200px;
        }
        .info__list {
            // border: 1px solid blue;
            width: 100%;
            height: 200px;
            ul {
                list-style: none;
            }
        }
    }
}