.container-fluid {
    padding: 0;
    margin: 0;
}

.footer__container {
    color: #021539;
    background-color: #d3e8f8;
    // border: 1px solid red;
    .footer__top {
        // border: 1px solid #fff;
        .footer__inner {
            width: 80%;
            margin: auto;
            // border: 1px solid black;
            padding: 1em;
            @media screen and (max-width: 480px) {
                width: 100%;
            }
            .need__update {
                // border: 1px solid green;
                h1 {}
            }
            .update__form {
                // border: 1px solid green;
                display: flex;
                form {
                    width: 100%;
                    margin: auto;
                    // border: 1px solid black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .form-control {
                        width: 70%;
                    }
                    .btn {
                        display: block;
                        background: #39A2F7;
                        background: -webkit-linear-gradient(right, #39A2F7, #A975FF);
                        background: -moz-linear-gradient(right, #39A2F7, #A975FF);
                        background: linear-gradient(to left, #39A2F7, #A975FF);
                        color: #fff;
                    }
                }
            }
        }
    }
    .footer__bottom {
        // border: 1px solid green;
        width: 80%;
        margin: auto;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        .inner__bottom {
            width: 100%;
            margin: auto;
            // border: 1px solid red;
            .footer-box {
                // border: 1px solid red;
                ul {
                    list-style: none;
                }
            }
        }
    }
}