.links__container {
    flex: 1;
    // border: 1px solid black;
    display: flex;
    .nav__links {
        margin: auto;
        // border: 1px solid red;
        list-style: none;
        display: flex;
        padding: 10px;
        a {
            text-decoration: none;
            padding: 5px 20px;
            border: 2px solid white;
            color: #fff;
            border-radius: 17px;
            width: 30px;
            margin-left: 10px;
            &:hover {}
        }
        .alt-link {
            border: 2px solid #10131D;
            background-color: #10131D;
        }
    }
}