.nav__container {
    // border: 1px solid black;
    width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .brand__logo {
        // border: 1px solid blue;
        flex: 1;
        display: flex;
        .logo {
            margin: auto;
            height: 100%;
            width: 150px;
            // border: 1px solid white;
        }
    }
}