.navbar__items {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.navbar__logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.fa-bars {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav__menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav__links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid white;
    border-radius: 20px;
}

.host-link {
    border: 2px solid #10131D;
    background-color: #10131D;
}

.host-link:hover {
    border: 2px solid #fff;
    background-color: none;
}

.nav__links:hover {
    background-color: #10131D;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

.fa {
    color: #fff;
    font-size: 2rem;
}

.menu__icon {
    display: none;
}

@media screen and (max-width:960px) {
    .navbar__items {
        position: fixed;
    }
    .nav__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 120px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav__menu.active {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        left: 0;
        opacity: 1;
        z-index: 1;
        transition: all 0.5s ease;
    }
    .nav__links {
        text-align: center;
        width: 50%;
        margin: auto;
        margin-bottom: 10px;
        display: table;
    }
    .nav__links:hover {
        background-color: #7577fa;
        border-radius: 0;
    }
    .navbar__logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
    .menu__icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}